<div class="row">
  <div class="col-md-offset-4 col-md-5">
    <div id="content">
      <dl>
        <dt>Oryginalny link:</dt>
        <dd><%= link_to @link.url, @link.url %></dd>
        <dt>Skrócony link:</dt>
        <dd id="result-link"><%= link_to forward_link_url(@link.token), forward_link_url(@link.token) %></dd>
        <dt>Liczba wejść na link:</dt>
        <dd id="view-count"><%= @link.view_count %></dd>
      </dl>
    </div>
  </div>
</div>
